a:focus {
    outline: none;
}

a {
  text-decoration: none;
  color: white;
}

a {
  vertical-align: bottom;
}

hr {
  width: 100%;
  -webkit-margin-after: 0px;
  border-width: 0px;
  border-top-width: 1px;
  color: #555555;
  border-style: solid;
}

table {
  width: 100%;
  height: 100%;
  vertical-align: text-bottom;
}

td {
  height: 100%;
}

#github {
  height: 100%;
  display: block;
  font-family: 'Lato', sans-serif;
}

#linkedin {
  float: right;
  height: 100%;
  display: block;
  font-family: 'Lato', sans-serif;
}

#title {
  text-align: center;
  color: white;
  font-size: 300%;
  letter-spacing: 3px;
  float: center;
  width: 100%;
}

#header {
  background-color: #1a1a1a;
  height: 15%
}

body, html {
  margin: 0;
  height: 100%;
  font-family: 'Maven Pro', sans-serif;
  background: #1a1a1a;
}

.ui-tabs {
  padding: 0;
}


.ui-tabs .ui-tabs-nav {
  padding: 0;
}

#title {
  float: left;
}

#tabpanel { 
    background: #1a1a1a;
    text-align: center;
    overflow: auto;
    height: 89%;
}

/* Minimalistic tabs based on http://keith-wood.name/uiTabs.html */

#tabs { 
    background: transparent; 
    border: none; 
    user-select: none;
    text-decoration: none;
    height: 85%
} 
#tabs .ui-widget-header { 
    background: transparent; 
    border: none; 
    -moz-border-radius: 0px; 
    -webkit-border-radius: 0px; 
    border-radius: 0px; 
} 
#tabs .ui-tabs-nav .ui-state-default { 
    background: transparent; 
    border: none; 
} 
#tabs .ui-tabs-nav .ui-state-active { 
    background: white;
    border: none;
} 
#tabs .ui-tabs-nav .ui-state-default a { 
    background: #1a1a1a;
    color: #c0c0c0; 
} 

.ui-tabs .ui-tabs-nav li.ui-tabs-active {
    padding-bottom: 0px;
}

#tabs .ui-tabs-nav .ui-state-active a { 
    background: white;
    color: black; 
}

.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr {
    border-top-right-radius: 0px;
}

.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tr {
    border-top-left-radius: 0px;
}

.ui-corner-bottom {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.ui-tabs .ui-tabs-nav li {
    width:16.6666666667%;
    text-align: center;
    margin: 0;
    font-family: 'Lato', sans-serif;
}
.ui-tabs .ui-tabs-nav li a {
    width: 100%;
    text-align:center;
}

.ui-tabs .ui-tabs-nav .ui-tabs-anchor {
  padding: .5em 0em;
}

.ui-widget-content {
  color: white;
  font-family: 'Lato', sans-serif;
}

.ui-tabs .ui-tabs-panel {
  padding: 0;
  background-color: rgba(85,85,85,.8);
  position: absolute;
  top: 41px;
  margin: 0;
  width: 100%;
  margin-top: 5%;
  margin-bottom: 5%;
  height: 0;
  overflow: auto;
}

#footer {
  font-size: 70%;
  height: 5%;
  color: white;
  text-align: center;
}
